html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}



.img-camisa {
    background-size: 30%;
    background-size: cover;
    border: 2px solid black;

}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
}


.descricao-produto {
    border-bottom: 1px, solid, #E1E8EE;
    margin-bottom: 20px;
    
}

.descricao-produto span {
    font-size: 15px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.descricao-produto h1 {
    font-weight: 300;
    font-size: 80px;
    color: #43484D;
    letter-spacing: -2px;
}

.descricao-produto p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;

}

.preco {
    display: flex;
    align-items: center;
    margin-right: 60px;
}

.preco span {
    font-size: 40px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
}

.btn-compra {
    display: flex;
    background-color: #7DC855;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 15px;
    transition: all .5s;
    width: 5%;
}

btn-compra:hover {
    background-color: #64af3d;
}

@media (max-width: 940px) {
    .container {
        flex-direction: column;
        margin-top: 60px;
    }

    .left-column,
    .right-column {
        width: 100%;
    }

    .left-column img {
        width: 300px;
        right: 0;
        top: -65px;
        left: initial;
    }
}

@media (max-width: 535px) {
    .left-column img {
        width: 220px;
        top: -85px;
    }
}